*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    padding: 1em;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}
.right{
    font-size: 1.7rem;
    position: relative;
}
.right::after{
    content: '';
    width: 40%;
    height: 2px;
    background-color: aqua;
    position: absolute;
    bottom: -2px;
    left: 0;
}
.middle .search-bar{
    background-color: gray;
    padding: 0.5em 0.7em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding-left: 5px;
    background: none;
    color: white;
}
#search::placeholder{
    color: white;
}

.bottom nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}

.listItem{
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.listItem:hover{
    scale: 1.1;
}
#searchIcon{
    width: 20px;
    cursor: pointer;
}

/* TOP MAIN */

.top-main{
    background-image: url('https://img.freepik.com/free-photo/3d-dark-grunge-display-background-with-smoky-atmosphere_1048-16218.jpg?ga=GA1.1.564882198.1736863859&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 82%);
    overflow: hidden;
}
.wrapper{
    display: flex;
    width: 500vw;
    transition: all 0.4s ease-in-out;
}
#imgMain{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.page{
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.page a{
    cursor: pointer;
}
.name,
.price,
.buy{
    position: absolute;
}
.name{
    font-size: 5rem;
    right: 70px;
    top: 40px;
    text-align: center;
    font-weight: 900;
}
.price{
    font-size: 3rem;
    left: 70px;
    top: 60px;
    border: 1px solid whitesmoke;
    padding: 0.3rem 0.7rem;

}
.buy{
    bottom: 160px;
    right: 50px;
    padding: 0.2em 0.6em;
    font-size: 1.8rem;
    cursor: pointer;
}
.mid-main{
    margin: 2em 0;
}
.features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.feature{
    padding: 0.5em;
    width: 15%;
    text-align: center;
}
.feature h4{
    font-size: 1.1rem;
    font-weight: 900;
    margin: 0.5em 0;
}
.features .img-feature{
    width: 35%;
}
.desc p{
    color: rgb(99, 98, 98);
}

.buy-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-buy-page{
    width: 90%;
}
.left-buy-page img{
    width: 100%;
}
.header h1{
    font-size: 4.2rem;
    margin-bottom: 1em;
}
.price-buy-page{
    margin-bottom: 1em;
}
.price-buy-page p{
    font-size: 2em;
    font-weight: bold;
}
.desc-buy-page p{
    color: rgb(105, 105, 105);
}
.colors{
    display: flex;
    margin: 16px 0;
}
#color1,
#color2{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
#color1{
    background-color: black;
}
#color2{
    background-color: darkblue;
}
.sizes{
    display: flex;
    margin: 16px 0;
}
.sizes .size{
    border: 1px solid black;
    padding: 5px 18px;
    border-radius: 2px;
    margin-right: 10px;
    font-weight: 500;
    transition: all 0.5s;
}
.button-buy-page{
    margin-top: 15px;
    float: right;
}
.button-buy-page button{
    background-color: black;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    margin-right: 10px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.button-buy-page button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}
.sizes .size:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.colors div{
    transition: all 0.4s;
}
.colors div:hover{
    transform: scale(1.07);
    cursor: pointer;
}

/* POP UP  */

.popup{
    position: absolute;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    top: 240%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    display: none;
}
.details{
    padding: 1em 2em;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info{
    color: rgba(160, 157, 157, 0.733);
    margin-bottom: 10px;
}

.popup label{
    color: gray;
    font-weight: bold;
}
.popup input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0.7em 0.4em;
    margin-bottom: 15px;
}
.popup input::placeholder{
    color: gray;
}
.cardInfo input{
    width: 32.5%;
}

#checkout{
    width: 100%;
    padding: 1em 0;
    background-color: rgb(4, 102, 4);
    border: none;
    color: white;
    cursor: pointer;
}

.imgs{
    display: flex;
    width: 8%;
}
.imgs img{
    width: 100%;
    margin-right: 10px;
}
.popup span{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 0.3em;
}

/* Gallery  */

.gallery{
    width: 100%;
    padding: 0 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageGallery{
    display: flex;
}
.imgItem{
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgItem h2{
    font-size: 1.7rem;
    text-align: left;
}
.imgSoon{
    width: 80%;
}
.imgSoon img{
    width: 100%;
    margin: 20px 0;
}

/* New Arrivals */

.new{
    display: flex;
    margin-top: 20px;
    height: 450px;
}

.new div{
    background-color: black;

}
.new div{
    flex: 1;
}
#newMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#newMiddle * {
    margin-top: 20px;

}
#newMiddle h2{
    margin: 30px 0;
    font-size: 2em;
}
#newMiddle h1{
    font-size: 2.5em;
}
#style{
    height: 50px;
    width: 190px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
}

.imgDivNew img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: bottom;
}

/* Footer */

.content{
    padding: 4em;
    display: flex;
}
.left-footer{
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}
.left-footer div p{
    font-size: 1.1rem;
    font-weight: 600;
}
.left-footer div ul li{
    list-style: none;
    margin-top: 15px;
    color: gray;
}

.upper-footer{
    margin-bottom: 30px;
}
.upper-footer p{
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 10px
}
.upper-footer input{
    padding: 0.5em;
}
.upper-footer button{
    padding: 0.5em;
    background-color: black;
    color: white;
}
.mid-footer p{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
}


.imgs-footer{
    display: flex;
    align-items: center;
    width: 23px;
    margin-bottom: 30px;
}
.imgs-footer img{
    width: 100%;
    margin-right: 10px;
}
.bottom-footer p {
    color: gray;
}

/* Media  */

@media screen and (max-width:480px) {
    .middle{
        display: none;
    }
    .bottom nav{
        display: flex;

    }
    .bottom nav ul{
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .bottom nav ul li{
        margin-right: 10px;
    }
    .top-main{
        clip-path: none;
    }
    .wrapper{
        width: 100%;
    }
    #imgMain{
        width: 100vw;
    }
    .name{
        display: none;
    }
    .buy,
    .price{
        transform: scale(0.7);
    }
    .buy{
        bottom: 0;
        right: -20px;
    }
    .price{
        top: 0;
        left: 0;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        width: 90%;
    }
    .buy-page{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #currentImage{
        width: 100%;
    }
    .right-buy-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .left-buy-page{
        width: 70%;
    }
    #heading-buy-page{
        margin-bottom: 0.5em;
        font-size: 3rem;
    }
    #price-buy-page{
        font-size: 2rem;
    }
    .gallery{
        display: none;
    }
    .new{
        flex-direction: column;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;
    }
    .left-footer{
        justify-content: space-between;
        width: 100%;
        align-content: center;
        margin-bottom: 50px;
        margin-right: 0;
    }
    .popup{
        width: 100%;
    }
}
